
h3{
 font-family: "Times New Roman",times;
 color:black;
}

.jumbotron{
    color:white;
    text-align:center;
      background-color: lightblue;
      background:
      
}
h2{
color:white;
background-color:black;
}
.container-fluid{
    background-color:gray;
}

li{
display:inline;
}
ul{
    overflow:hidden;
}

#resources{
    background-color:
}
