h3{
 font-family: "Times New Roman",times;
 color:black;
}

.jumbotron{
    color:white;
    text-align:center;
      background-color: lightblue;
      background:
      
}
h2{
color:black;
background-color:white;
}
.container-fluid{
    background-color:gray;
}

li{
display:inline;
}


#resources{
    background-color:
}

#grades{
    background-color:green ;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #00bfff;
    background-color: #99ccff;
}

h4, {
   font-style: : "Times New Roman";
   background-color: white;
   color:black;
   font-size:
}

#info{
background-color:red;
}
